# BRD-033: Provision trusted RouterBOOT update action with safety catch

:local scriptName "noc-install-routerboot-update"
:local source ":log warning \"BRD-033 RouterBOOT update test: /system routerboard upgrade would run\"; :log warning \"BRD-033 RouterBOOT update test: /system reboot would run\""
:local scriptId [/system script find name=$scriptName]

:if ([:len $scriptId] > 0) do={
    /system script set $scriptId \
        comment="Install available RouterBOOT update from trusted NOC action" \
        policy=read,write,reboot,policy \
        dont-require-permissions=yes \
        source=$source
} else={
    /system script add \
        name=$scriptName \
        comment="Install available RouterBOOT update from trusted NOC action" \
        policy=read,write,reboot,policy \
        dont-require-permissions=yes \
        source=$source
}