# BRD-032: Provision trusted RouterOS update action with safety catch

:local scriptName "noc-install-routeros-update"
:local source ":local installed [/system package update get installed-version]\n:local latest [/system package update get latest-version]\n:local status [/system package update get status]\n\n:if ((\$installed = \"\") || (\$latest = \"\") || (\$installed = \$latest) || (\$status != \"New version is available\")) do={\n    :log warning \"[NOC-ROUTEROS-UPDATE] update no longer available\"\n} else={\n    :log warning \"[NOC-ROUTEROS-UPDATE] SAFETY CATCH: would install RouterOS update\"\n\n    :if (false) do={\n        :log warning \"[NOC-ROUTEROS-UPDATE] THIS SHOULD NEVER HAPPEN\"\n    }\n}"

:local scriptId [/system script find name=$scriptName]

:if ([:len $scriptId] > 0) do={
    /system script set $scriptId \
        comment="Install available RouterOS update from trusted NOC action" \
        policy=read,write,reboot \
        dont-require-permissions=yes \
        source=$source
} else={
    /system script add \
        name=$scriptName \
        comment="Install available RouterOS update from trusted NOC action" \
        policy=read,write,reboot \
        dont-require-permissions=yes \
        source=$source
}
